<mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px">
            <mat-icon mat-card-avatar aria-hidden="false" color="primary">developer_board</mat-icon>
            <h3>Processors</h3>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-icon-button>
                <mat-icon (click)="addNew()" matTooltip="Add new processor" color="accent">
                    add_box
                </mat-icon>
            </button>
            <button mat-icon-button routerLink="/">
                <mat-icon matTooltip="Close" color="accent">
                    close
                </mat-icon>
            </button>
        </div>
    </div>
    <mat-card-content fxLayout="column">
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item *ngFor="let processorWithPlugin of processorsWithPlugins"
                (click)="showProcessor(processorWithPlugin)" class="hidden-children">
                <h3 matLine>{{processorWithPlugin.displayName()}}</h3>
                <button mat-icon-button class="hidden-child decent">
                    <mat-icon (click)="deleteProcessor(processorWithPlugin, $event)" matTooltip="Delete" color="warn">
                        delete_outline
                    </mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>

</mat-card>