<div fxLayout="column" fxFlex="100%" fxLayoutGap="10px">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px">
                <h3>{{device.name}}</h3>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <button mat-icon-button>
                    <mat-icon (click)="back()" color="accent">close
                    </mat-icon>
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <mat-card-content style="margin-top: 10px;">
            <form #f="ngForm" (ngSubmit)="save()" fxLayout="row" fxLayoutGap="20px"
                fxLayoutAlign="space-between center">
                <mat-form-field (change)="f.ngSubmit.emit()" fxFlex>
                    <input matInput placeholder="Name" [(ngModel)]="device.name" name="deviceName">
                </mat-form-field>
                <mat-form-field (change)="f.ngSubmit.emit()" fxFlex>
                    <input matInput placeholder="Slug" [(ngModel)]="device.slug" name="deviceSlug">
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <div fxLayout="row">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                Device output processing chains
            </div>
            <button mat-icon-button>
                <mat-icon (click)="addNewProcessor()" color="accent">add
                </mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <mat-card-content style="margin-top: 10px;">
            <mat-tab-group>
                <mat-tab *ngFor="let processor of outputProcessors" label="Processing chain">
                    <app-processing-chain [rootId]="processor.id" [spaceId]="device.spaceId"
                        (lastStepDeleted)="onProcessorChainDeleted($event)">
                    </app-processing-chain>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

</div>