<mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px">
            <mat-icon mat-card-avatar aria-hidden="false" color="primary">developer_board</mat-icon>
            <h3>Devices</h3>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-icon-button>
                <mat-icon (click)="addNew()" color="accent">add_box
                </mat-icon>
            </button>
        </div>
    </div>
    <mat-card-content fxLayout="column" *ngIf="devices.length>0">
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item *ngFor="let device of devices" (click)="showDevice(device)">
                <mat-icon matListIcon>room</mat-icon>
                <h3 matLine> {{device.name}} </h3>

            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>